.selected-title {
    opacity: 1;
    transition: background-color 0.3s ease;
    width: 92%;
    cursor: pointer;
    border-radius: 6px;
    padding-left: 12px;
}

.selected-title:hover {
    background-color: #f0f0f0;
}

.change-title-name {
    width: 100%;
}